@model System.Collections.Generic.IEnumerable<LMS.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
<table id="js-customers-table" class="table table-bordered">
    <thead>
        <tr class="d-flex">
            <th class="col-sm-2">Name</th>
            <th class="col-sm-10">Membership Type</th>
            <th class="col-sm-10">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#js-customers-table").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (customerName, row, customer) {
                            return `<p> ${customerName} </p>`;
                        }
                    },
                    {
                        data: "membershipType.name",
                        render: function (membershipTypeName) {
                            return `<p> ${membershipTypeName} </p>`;
                        }
                    },
                    {
                        data: "id",
                        render: function (customerId) {
                            return `<span style="display:flex">
                                        <a href="/customers/edit/${customerId}" class="mx-1">Edit</a>
                                        <a href="#" data-customer-id='${customerId}' class='js-delete mx-1'>Delete</a>
                                    </span>`;
                        }
                    }
                ]
            });
            $("#js-customers-table").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Delete " + button.parents('tr').children().first().find("a").text() + " ?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.data("customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents('tr')).remove().draw();
                            }
                        })
                    }
                    return false;
                });
            });
        });
    </script>
}
