@model LMS.Models.Book
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Book Copies</h2>
<div class="container">
    <div class="row mb-2">
        @if (User.IsInRole(LMS.Models.Role.CanAddBookCopies))
        {
            <div class="col-sm-2">
                @Html.ActionLink("Add Copy", "New", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>

<table class="table table-bordered" id="js-books-table"></table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#js-books-table").DataTable({
                serverSide: true,
                autoWidth: true,
                processing: true,


                ajax: {
                    url: "/bookcopies/table",
                    method: "POST",
                    dataSrc: "data",
                    "data": function (d) {
                        d.bookId =@Model.Id
                    }
                },
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                columns: [
                    {
                        title: "Location - Shelf",
                        name: "Shelf",
                        data: "inventory.shelf",
                        searchable: false
                    },
                    {
                        title: "Location - Column",
                        name: "Column",
                        data: "inventory.column",
                        searchable: false
                    },
                    {
                        title: "Location - Row",
                        name: "Row",
                        data: "inventory.row",
                        searchable:false
                    },
                    {
                        title: "Rented",
                        name: "Rented",
                        data: "rented",
                        searchable: false,
                        render: function (rented,_, copy) {
                            if (rented)
                                `<a href="/rentals/ForCopy/${copy.id}">Rented</a>`;
                            return "No";
                        }
                    },
                    {
                        title: "Actions",
                        data: "id",
                        orderable: false,
                        searchable:false,
                        render: function (copyId) {
                            var edit = remove = rent = "";
                            @if (User.IsInRole(LMS.Models.Role.CanEditBookCopies))
                            {
                                <text>edit = `<a href="/bookcopies/edit/${copyId}" class="mx-1 btn btn-success"><i class="fa fa-edit"></i>Edit</a>`</text>
                            }
                            @if (User.IsInRole(LMS.Models.Role.CanDeleteBookCopies))
                            {
                                <text>remove = `<a href="#" data-book-id='${copyId}' class='js-delete mx-1 btn btn-danger'><i class="fa fa-trash"></i>Delete</a>`</text>
                            }
                            @if (User.IsInRole(LMS.Models.Role.CanAddRentals))
                            {
                                <text>rent = `<a href="/rentals/forcopy/${copyId}" class='mx-1 btn btn-primary'>Rent</a>`</text>
                            }
                            return `<span style="display:flex">${rent} ${edit} ${remove}</span>`;
                        }
                    }
                ]
            });
            $("#js-books-table").on("click", ".js-delete", function () {
                var button = $(this);
                @*bootbox.confirm("Delete " + button.parents('tr').children().first().find("a").text() + " ?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/book/" + button.data("book-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents('tr')).remove().draw();
                            }
                        })
                    }
                    return false;
                });*@
                bootbox.dialog({
                    title: "Confirm Your Action",
                    message: '<span>Delete Book Copy?</span>',
                    backdrop:true,
                    buttons: {
                        confirm: {
                            label: 'Delete',
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/bookcopies/delete/" + button.data("book-id"),
                                    method: "POST",
                                    success: function () {
                                        table.row(button.parents('tr')).remove().draw();
                                        toastr.success("Book Copy Removed!");
                                        console.log("Yeeeeeeees");
                                    }
                                })
                            }
                        },
                        cancel: {
                            label: 'Cancel',
                            className: 'btn-secondary',
                            callback: function () {
                                console.log("you piece of shit, why");
                            }
                        }

                    },
                    onEscape: function () {
                        console.log("help welp melp");
                    }
                });
            });
        });
    </script>
}
